*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

:root {
    --clr-primary: #1444C7;
    --clr-white: #FCFAFA;

    --ff-xo: "Doxent", Arial, sans-serif;
    --ff-body: "Work Sans", Arial, sans-serif;

    --padding-standard: 10px;

    --board-width: calc((126px * 3) + (2px * 2));
}

@font-face {
  font-family: 'Doxent';
  src: url('fonts/Doxent-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-body);
  display: flex;
  justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(calc(var(--board-width) + (var(--padding-standard) * 2)), 50vw, 400px);
    margin: 10px;
    padding: var(--padding-standard);
    border: 1px black solid;
    border-radius: 10px;

}

.board {
    display: grid;
    grid-template: repeat(3, 33%) / repeat(3, 33%);
    width: var(--board-width);
    height: var(--board-width);
    justify-content: center;
    align-content: center;
}

.box {
    background-color: var(--clr-primary);
    border: transparent;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
}

[class*="player"] {
    font-family: var(--ff-xo);
    font-size: 80px;
    color: var(--clr-white);
}

.player-one::after {
    content: "X";
}

.player-two::after {
    content: "O";
}

.message {
    display: flex;
    align-items: center;
    height: 50px;
}